* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  background-color: #f2f2f2;
  overflow: hidden;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
}

.profile-pic img {
  width: 100%;
}

.profile .name p:nth-child(1) {
  color: grey;
}
.profile .name p:nth-child(2) {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

nav .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
nav .controls button {
  background-color: #f7f7f7;
  border-style: none;
  padding: 0.6rem;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .controls .search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 1rem;
  overflow: hidden;
}
nav .controls .search-input button {
  border-radius: 0;
  aspect-ratio: unset;
  padding: 0.6rem 1rem;
  background-color: inherit;
}

nav .controls .search-input input {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0.6rem 1rem;
}
.main {
  display: flex;
}
.content {
  width: 100%;
  padding: 0 2rem;
}
.sideBar {
  background-color: #f7f7f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 2rem;
}

.sideBar .cloud {
  border-bottom: solid #717689 1px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: orange;
}
.sideBar button {
  border: none;
  background-color: inherit;
  color: #717689;
}

.sideBar button:last-child {
  margin-top: auto;
}

.row {
  display: flex;
  width: 100%;
  gap: 1.5rem;
}
.overview {
  background-color: #c7c7c7;
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-image: url(public/assests/sky-clouds.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.map {
  background-color: #c7c7c7;
  flex: 1;
  background-image: url(public/assests/world\ map.webp);
  background-size: contain;
}
.row > div {
  border-radius: 1.6rem;
  padding: 2rem;
}
.location {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #ffff;
  border-radius: 2rem;
  width: fit-content;
  padding: 0.3rem 1rem;
}
.weather {
  display: flex;
  justify-content: space-between;
}

.weather .text p:first-child {
  line-height: 3.2rem;
  font-size: 3rem;
}
.weather .text p:last-child {
  color: #717689;
}

.weather iframe {
  border: none;
}

.temperature {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  gap: 1rem;
}

.visibility {
  background-color: #cce16a;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  text-align: center;
}

.visibility p:last-child {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.humidity {
  background-color: #ffff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  text-align: center;
}
.humidity p:last-child {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.degree p:first-child {
  font-size: 4rem;
  font-weight: 500;
}

.degree p:last-child {
  color: #717689;
}
.details {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1.5rem 0;
  gap: 1rem;
}
.place-temp {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  gap: 1rem;
}
.time-temp {
  background-color: #ffffff;
  flex: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.current-place-temp {
  background-color: #dff296;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  border-radius: 1.5rem;
}

.place-temp .place-text {
  flex: 1;
  padding-left: 0.5rem;
}

.place-temp .place-text p:first-child {
  font-weight: 600;
  margin-bottom: 0.1rem;
  color: #3d4961;
}

.place-temp .place-text p:last-child {
  font-weight: 300;
  color: #9a9ca6;
}

.place-temp .temp {
  color: #ff8118;
}
.place-temp .nearby-place-temp {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem 0.1rem 1rem;
  background-color: #f7f7f7;
}

.place-temp iframe {
  border: none;
  margin-top: 1rem;
}

.air-quality {
  background-color: #19283f;
  display: flex;
  justify-content: space-between;
  border-radius: 1.5rem;
}

.air-quality-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

.air-quality p {
  white-space: nowrap;
  color: #f2f2f2;
}

.air-quality p:last-child {
  font-weight: 200;
}

.air-quality p:first-child {
  font-size: 1.5rem;
}

.current-place-temp .current-place p:first-child {
  font-weight: 400;
  color: #9a9ca6;
}

.current-place-temp .current-place p:last-child {
  font-weight: 600;
  color: #19283f;
  font-size: 2rem;
}

.current-place-temp .temp-icon p:first-child {
  font-weight: 600;
  color: #19283f;
  font-size: 2rem;
}

.current-place-temp .temp-icon p:last-child {
  font-weight: 400;
  color: #9a9ca6;
}

.time-temp .temp-today {
  display: flex;
  justify-content: space-between;
}

.time-temp .temp-today .temp-today-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.time-temp .temp-today .temp-today-icon button {
  border: none;
  padding: 0.6rem;
  height: fit-content;
  border-radius: 0.5rem;
}

.time-temp .temp-today .temp-today-icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.time-temp .temp-today .temp-today-icon button:first-child {
  color: #f2f2f2;
  background-color: #ff8118;
}

.time-temp .icon-illustrations-temp {
  display: flex;
  height: 100%;
}
.glow {
  box-shadow: rgba(223, 145, 43, 0.25) 0px 54px 55px,
    rgba(223, 145, 43, 0.12) 0px -12px 30px,
    rgba(223, 145, 43, 0.12) 0px 4px 6px, rgba(223, 145, 43, 0.17) 0px 12px 13px,
    rgba(223, 145, 43, 0.09) 0px -3px 5px;
}
.timeline-item {
  text-align: center;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.timeline-item:nth-child(2) {
  text-align: center;
  border-left: solid 1px #c7c7c7;
  border-right: solid 1px #c7c7c7;
  flex: 1;
}
.timeline-item:nth-child(3) {
  text-align: center;
  flex: 1;
  border-right: solid 1px #c7c7c7;
}

.timeline-item p:first-child {
  font-weight: 600;
}

.timeline-item p:last-child {
  font-weight: 400;
  color: #9a9ca6;
}

.allMapButtons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  height: 100%;
  justify-content: space-between;
  width: fit-content;
}

.allMapButtons button {
  border: none;
  padding: 0.6rem;
  height: fit-content;
  border-radius: 50%;
  aspect-ratio: 1;
  width: fit-content;
}

.restOfIcons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.restOfIcons .zoomInOut {
  display: flex;
  flex-direction: column;
}
.restOfIcons .zoomInOut button {
  background-color: #f97f29;
  color: #fff;
}
.restOfIcons .zoomInOut button:first-child {
  border-radius: 50% 50% 0 0;
}

.restOfIcons .zoomInOut button:last-child {
  border-radius: 0 0 50% 50%;
}

.allMapButtons .fullScreen button {
  background-color: #cce16a;
}
